<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        * {
        font-family:'Trebuchet MS', sans-serif;
      }

       .navbar-custom {
        background-color: #ffffff;
      }
      .nav-item-table {
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .nav-item-form {
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .nav-item {
        margin: 5px 5px;
      }

      body {
            font-family: "Informal Roman", Monaco, monospace;
            background-image: url(https://cdn.wallpapersafari.com/14/5/cZLT5p.gif);
        }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar-custom navbar-expand-sm">
      <ul class="nav nav-pills">
        <li class="nav-item-form">
          <a class="nav-link" href="http://localhost:8000/lab-4/add-note" style="color: rgb(0, 0, 0); font-family:'Informal Roman', sans-serif">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/lab-4/note-list" style="color: rgb(0, 0, 0); font-family:'Informal Roman', sans-serif">Cards</a>
        </li>
        <li class="nav-item-table">
          <a class="nav-link" href="http://localhost:8000/lab-4" style="color: rgb(0, 0, 0); font-family:'Informal Roman', sans-serif">Table</a>
        </li>
      </ul>
    </nav>


    <h1 style="text-align: center; color: rgb(255, 255, 255); font-family:'Informal Roman', sans-serif";>Create Your Message!</h1>
    <div class="form-group">
      <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}
        <div class="From">
          <p style="color:rgb(255, 255, 255)">FROM:</p>
          <div>{{form.from_user}}</div>
        </div>
        <div class="to">
          <p style="color:rgb(255, 255, 255)">TO: </p>
          <div>{{form.to}}</div>
        </div>
        <div class="title">
          <p style="color:rgb(255, 255, 255)">TITLE:</p>
          <div>{{form.title}}</div>
        </div>
        <div class="message">
          <p style="color:rgb(255, 255, 255)">MESSAGE:</p>
          <div>{{form.message}}</div>
        </div>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>