<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
       * {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

       .navbar-custom {
        background-color: #ffffff;
      }

      .nav-item-table {
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .nav-item-form {
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .nav-item {
        margin: 5px 5px;
      }

      body {
            font-family: "Lucida Console", Monaco, monospace;
            background-image: url(https://cdn.wallpapersafari.com/14/5/cZLT5p.gif);
        }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar-custom navbar-expand-sm">
      <ul class="nav nav-pills">
        <li class="nav-item-form">
          <a class="nav-link" href="http://localhost:8000/lab-4/add-note" style="color: black; font-family:'Informal Roman', sans-serif">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/lab-4/note-list" style="color: black; font-family:'Informal Roman', sans-serif">Cards</a>
        </li>
        <li class="nav-item-table">
          <a class="nav-link" href="http://localhost:8000/lab-4" style="color: black; font-family:'Informal Roman', sans-serif">Table</a>
        </li>
      </ul>
    </nav>

    <h1 style="text-align: center; color: rgb(255, 255, 255); margin: 0; font-family:'Informal Roman', sans-serif"> Message List</h1>
  </br>
  <div class="container">
    <div class="card-columns">
    {% if notes %}
    {% for note in notes %}
    <div class="card" style="width: 20rem; border-radius: 25px 25px 25px 25px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);">
      <div class="card-header" style="background-color: #373b32; border-radius: 25px 25px 25px 25px;">
        <p style="color: rgb(255, 255, 255); font-family:'Informal Roman', sans-serif ">Message Card</p>
      </div>
      <div class="card-body">
        To: {{note.to}}
      </br>
        From: {{note.from_user}}
      </br>
        Title: {{note.title}}
      </br>
        Message: {{note.message}}
      </div>
    </div>
  </br>
    {% endfor %}
    {% endif %}
  </div>
  </div>
  </body>
</html>
