<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Message List</title>
    <style>
      * {
        font-family:'ROG Fonts', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

      .messages {
        border-collapse: collapse;
        font-size: 0.9em;
        width: 80%;
        overflow: hidden;
        margin: auto;
        margin-bottom: 100px;
        border-radius: 20px 20px 0 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        table-layout:fixed;
      }

      #head-row {
        background-color: #ffffff;
        color: white;
        text-align: center;
        font-weight: bold;
      }

      .messages td {
        padding: 12px 15px;
        color: rgb(255, 255, 255);
        text-align: center;
        word-wrap: break-word;
      }

      .messages th {
        padding: 12px 15px;
        color: rgb(0, 0, 0);
        font-size: medium;
      }

      .messages tr {
        border-bottom: 1px solid #ffffff;
      }

      .messages tr:last-of-type {
        border-bottom: 1px solid #ffffff;
      }

      .navbar-custom {
        background-color: #ffffff;
      }

      .nav-item-table {
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .nav-item-form {
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .nav-item {
        margin: 5px 5px;
      }

      body {
            font-family: "Lucida Console", Monaco, monospace;
            background-image: url(https://cdn.wallpapersafari.com/14/5/cZLT5p.gif);
        }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar-custom navbar-expand-sm">
      <ul class="nav nav-pills">
        <li class="nav-item-form">
          <a class="nav-link" href="http://localhost:8000/lab-4/add-note" style="color: black; font-family:'Informal Roman', sans-serif">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/lab-4/note-list" style="color: black; font-family:'Informal Roman', sans-serif">Cards</a>
        </li>
        <li class="nav-item-table">
          <a class="nav-link" href="http://localhost:8000/lab-4" style="color: black; font-family:'Informal Roman', sans-serif">Table</a>
        </li>
      </ul>
    </nav>

  </br>
    <h1 style="text-align: center; color: rgb(255, 255, 255); margin: 0; font-family:'Informal Roman', sans-serif"> Message List</h1>
    <table class="messages">
    </br>
      <tr id="head-row">
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if notes %}
      {% for note in notes %}
      <tr>
            <td>{{note.to}}</td>
            <td>{{note.from_user}}</td>
            <td>{{note.title}}</td>
            <td>{{note.message}}</td>
          {% endfor %}
          {% endif %}
        </tr>
    </table>
  </body>
</html>
