<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PBD FORMS</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" placeholder="Enter Your Name"><br>
        <label for="npm">NPM:</label><br>
        <input type="text" id="npm" name="npm" placeholder="Enter Your NPM"><br>
        <label for="DOB">Birth Date:</label><br>
        <input type="date" id="date" name="date" placeholder="Enter Your Birth Date"><br>
        <input type="submit" value="Submit">
      </form> 
</body>
</html>